/* CSS starter */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;1,500;1,600&display=swap');
:root{
--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
--white-white:  hsl(210, 46%, 95%)
}
*{ 
    padding: 0px;
    margin: 0.2rem;
   
}
body{
    background-color: var(--white-white);
    font-family: 'Barlow Semi Condensed', sans-serif;
    width:100%;
   
}
    .container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas:"BOX1 BOX1 BOX2 BOX5"
                            "BOX3 BOX4 BOX4 BOX5";    
    }
    
    /*BOX1*/
    
    .BOX1{        
        grid-template-areas : BOX1;
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: var(--Moderate-violet);
        border-radius: 8px; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        /* align-items: center; */
        /* align-content: stretch; */
    }
    .profil{
        position: relative;
    }
    .profil-img{
        position: absolute;
        left: 1%;
        top: 14%;
    }
    /* .verif{
        font-size: 10px;
        color: var(--Light-grayish-blue);
    }*/
    .profil-daniel{
        position: absolute;
        left: 11%;
        bottom: -67Px;
    }
    .com1{
        position: absolute;
        top: 14%;
        left: 4%;
        font-size: 20px;
        color: var(--White);
        }
    .com2{
        position: absolute;
        width: 41%;
        top: 30%;
        left: 4%;
        font-size: 18px;
        color: var(--Light-gray); 
    }
    .name{
        font-size: 17px;
        color: var(--White);
    }
    .verif{
        font-size: 15px;
        color: var(--Light-gray); 
    }
    /*BOX2*/
    
    .BOX2{
        background-color: var(--Very-dark-grayish-blue);
        grid-area: BOX2;
        grid-column: 3/4;
        border-radius: 8px; 
    }
    .profil-jonathan{
        position: absolute;
        top: 11px;
        left: 22%;
    }
    .com3{
        position: absolute;
        width: 13%;
        top: 14%;
        left: 55%;
        font-size: 20px;
        color: var(--White);
    }
    .com4{
        position: absolute;
        top: 30%;
        width: 18%;
        left: 55%;
        font-size: 16px;
        color: var(--Light-gray);
    }
    
    
    /*BOX3*/
    
    .BOX3{
        background-color: var(--White);
        border-radius: 8px;    
        grid-area: BOX3;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .nom{
        font-size: 17px;
        color: black;
    }
    .verification{
     color: var(--Light-gray); 
     font-size: 15px; 
    }
    .profil-jeanette{
        position: absolute;
        top: 13px;
        left: 22%;
    }
    .text-card3{
        position: absolute;
        width: 14%;
        top: 86%;
        left: 4%;
    }
    .com5{
        position: absolute;
        font-size: 20px;
        top: -113px;
        width: 150px;
        color: var(--Very-dark-grayish-blue);
    }
    .com6{
        position: absolute;
        font-size: 18px;
        top: -6px;
        color: var(--Light-gray);
    }
    
    
    
    /*BOX4*/
    
    .BOX4{
        background-color: var(--Very-dark-blackish-blue);
        border-radius: 8px;
        grid-area: BOX4; 
        grid-row: 2/3;  
    }
    .BOX4 .profil .profil-img{
        position: absolute;
        left: 0%;
        top: 0%;
    }
    .profil-patrick{
        position: absolute;
        left: 10%;
        top: 11px;
    }
    .com7{
        position: absolute;
        top: 97px;
        width: 64%;
        left: 7%;
        font-size: 20px;
        color: var(--white-white);
    }
    .com8{
        color: var(--Light-gray);
        position: absolute;
        top: 210px;
        width: 73%;
        left: 49px;
        font-size: 18px;
    }
   
    /*BOX5*/
    
    .BOX5{
        background-color: var(--White);
        border-radius: 8px;
        grid-area: BOX5;
        grid-column:  4/5;
        grid-row: 1/2;        
    }
    /*.nom-kira{
    font-size: 17px;
    color:var(--Very-dark-grayish-blue);
    }
    .verif-kira{
    font-size: 15px;
    color: var(--Light-gray)
    }
    /*.profil-kira{
        position: absolute;
        left: 19%;
        top: 10px;
    }
    .com9{

    }
    .text{

    }
    .profil-kira{
        position: absolute;
        top: 50px;
        left: 76%;
    }
    .nom-kira{
        font-size: 14px;
        color: var(--Very-dark-grayish-blue);
    }
    .verif-kira{
        font-size: 10px;
        color: var(--Light-gray);
    }
    .com9{
        position: relative;
        top: 44%;
        left: 13%;
        width: 68%;
        margin-top: 6px;
        color: var(--Very-dark-grayish-blue);
    }
    .text{
        position: relative;
        top: -38px;
        left: 41px;
        width: 75%;
        font-size: 12px;
        margin-top: 22%;
    
    }*/
    img{
        border-radius: 50%;
        margin: 20px;
        width: 25px;    
    }   



